@import 'bootstrap/dist/css/bootstrap';

// .navbar-brand {
//   font-size: 3rem !important;
// }

#log-in {
  margin-top: .5em;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results {
  display: inline-block !important;
  margin-bottom: 1rem !important;
}

.logout-button {
  margin-right: 0.3em;
}

.user-name {
  margin-top: .35em;
  padding-right: .3em;
}
